
.eduon_wrap::before{content:''; position: absolute; width:100%; z-index: 99; background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%); left:0; height:169px; mix-blend-mode: multiply;} /*메인 비쥬얼 그라이언트 처리*/

.main_content{padding-bottom:150px ;}
/*메인 비쥬얼*/
.main_visual{position: relative;}
.visual_item{height:769px; width:100%;   position: relative; background-position: center center; background-repeat: no-repeat;}
.video_wrap{width:100%; overflow: hidden; height:100%; }
.video_wrap video{min-width:100%; min-height:100%; position: absolute; top:-30%; left:0}
.visual_controll{}
.visual_controll .dir_btn{text-align: center; width:99px; color:#fff;position: absolute;  font-size:34px; width:99px; top:388px;line-height: 99px; z-index: 100; background: rgba(0,0,0,0.2); border-radius: 100%; transition: all 0.8s;}
.visual_controll .dir_btn:hover{background: rgba(0,0,0,0.6);}
.visual_controll .dir_btn.prev{left:50%; margin-left: -650px;}
.visual_controll .dir_btn.next{right:50%; margin-right: -650px;}
.visual_controll .dir_btn > a{position: absolute; top:0; left:0; width:100%; height: 100%; text-indent: -5000em; overflow: hidden;}
.viausl_mask{position:absolute;top:0;left:0;width:100%; height:100%;background-position: center center; z-index: 5; background-repeat: no-repeat;}
.main_visual .bx-controls{position: absolute; z-index: 100; bottom:63px; width:100%; left:0}
.main_visual .bx-pager{display: flex; justify-content: center;}
.main_visual .bx-pager-link{display: block; width:12px; height:12px; overflow: hidden; text-indent: -5000em;  border:1px solid #fff; border-radius: 100%; margin: 0 5px;}
.main_visual .bx-pager-link.active{background: #FFF;}

.main_brand{width:1200px; margin: 67px auto 0;}
.main_brand > ul{display: flex; justify-content: space-between;}
.main_brand > ul > li > a{display: block; background: #F8F8F8; width:228px; height: 351px; border-radius: 8px;box-sizing: border-box; padding: 40px 40px 0px; text-align: center; transition: all 0.5s;}
.main_brand > ul > li > a:hover{box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25); transform: translateY(-10px); }
.main_brand .tit{display: block; font-size:28px; font-weight: 800; }
.main_brand .sym{display: block; width:138px; height:138px; background: #EAEAEA; border-radius: 100%; margin-top:28px; display: flex; align-items: center; justify-content: center;}
.main_brand .summary{display: block; margin-top: 27px; font-size:20px; line-height: 1.4; color:#7E7E7E}

.int_brand{padding:130px 0 186px;  position: relative;}
.int_brand:after{content: ''; position: absolute; bottom:0; left:50px; width: 622px; height:304px; margin-left: 1500px;background:url('../images/bg_int_brand.png') no-repeat ;}
.scroll_brand{width:1200px; height:520px; margin:0 auto; position: relative; z-index: 2;}
.brand_item{width:478px; height:520px; position: relative; padding:0 560px 0 142px;}
.brand_item .tit{display: block; font-size:64px;  color:#000; font-weight: 800; padding-top: 106px}
.brand_item .hash_tag{display: flex; font-size:32px; color:#000; margin-top: 39px; flex-wrap: wrap;}
.brand_item .hash_tag > span{min-width:47%; line-height: 1.5;}
.brand_item .hash_tag > span.mr{margin-right: 3%;}
.brand_item .brand_img{position: absolute; bottom:0; right:109px;}
a.link_brnad{display: block; width:209px; line-height: 60px; border:1px solid #959595; color:#000; font-size:18px; margin-top:85px ; text-align: center;}

.int_brand .dir_controll .dir_btn{text-align: center; width:50px; color:#000; position: absolute;  font-size:36px; width:50px; top:255px;line-height: 50px; z-index: 100;border-radius: 100%; transition: all 0.8s; z-index: 50;}
.int_brand .dir_controll .dir_btn.prev{left:0%; }
.int_brand .dir_controll .dir_btn.next{right:0%; }
.int_brand .dir_controll .dir_btn > a{position: absolute; top:0; left:0; width:100%; height: 100%; text-indent: -5000em; overflow: hidden;}

.scroll_brand .bx-controls{position: absolute; z-index: 100; bottom:-63px; width:100%; left:0}
.scroll_brand .bx-pager{display: flex; justify-content: center;}
.scroll_brand .bx-pager-link{display: block; width:14px; height:14px; overflow: hidden; text-indent: -5000em; background: #C4C4C4; ;border-radius: 100%; margin: 0 5px;}
.scroll_brand .bx-pager-link.active{background: #222222;}


.hotnew_section{background:#F2F2F2; padding:144px 0 132px; position: relative;}
.hotnew_section > h3{font-size:56px; color:#000; text-align: center; letter-spacing: -0.01em; font-weight: 200;}
.hotnew_wrap{width:1200px; margin: 57px auto 0; position:relative; z-index: 2;}
.hotnew_wrap .dir_controll .dir_btn{text-align: center; color:#9D9D9D; position: absolute;  font-size:34px; width:60px; top:255px;line-height: 60px; z-index: 100;border-radius: 100%; z-index: 50; background: #FFF; box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);}
.hotnew_wrap .dir_controll .dir_btn > i.xi-angle-right-min{position: relative; left:2px}
.hotnew_wrap .dir_controll .dir_btn > i.xi-angle-left-min{position: relative; left:-2px}
.hotnew_wrap .dir_controll .dir_btn.prev{left:-30px; }
.hotnew_wrap .dir_controll .dir_btn.next{right:-30px; }
.hotnew_wrap .dir_controll .dir_btn > a{position: absolute; top:0; left:0; width:100%; height: 100%; text-indent: -5000em; overflow: hidden;}
.hotnew_section:after{content: ''; position: absolute; bottom:0; left:50px; width: 622px; height:304px; margin-left: -360px;background:url('../images/bg_hotnew.png') no-repeat ;}

.main_media{background: #2A2A2A; padding:140px 0 180px; position: relative; }
.main_media > h3{font-size:56px; color:#fff; text-align: center; letter-spacing: -0.01em; margin-bottom: 63px;}
.media_list{width:829px; margin: 0 auto; position: relative; }
.media_item{width:829px; height:467px; position: relative; opacity:0.3 ; transform: scale(0.82);transition: all 0.3s linear; }
.media_item .thum > img{width:829px; height:467px}
.media_item .title{position: absolute; bottom:0; left:0; background: rgba(0,0,0,0.9); width:100%; line-height: 1.5; color:#FFF; padding:10px 30px; font-size:16px; box-sizing: border-box;}
.media_item .title > em{margin-right: 5px; display: inline-block;}
.media_item .title > em:before{content: '[';}
.media_item .title > em:after{content: ']';}
.media_item.on{opacity:1 ; transform: scale(1); }
.media_item.on .title > em{border:1px solid #FF8267; color:#FF8267; font-size:14px; border-radius:50px ; padding: 0 20px;}
.media_item.on .title > em:before{content: '';}
.media_item.on .title > em:after{content: '';}
.main_media .bx-viewport{overflow: inherit !important; }
.main_media .bx-controls{position: absolute; z-index: 10; bottom:-64px; width:100%; left:0}
.main_media .bx-pager{display: flex; justify-content: center;}
.main_media .bx-pager-link{display: block; width:94px; height:20px; overflow: hidden; text-indent: -5000em; margin: 0 5px; position: relative;}
.main_media .bx-pager-link:after{content: ''; width:100%; height:2px;background:rgba(255, 255, 255, 0.3); left:0; top:9px; position:absolute ;}
.main_media .bx-pager-link.active:after{background: #FFF;}
.main_media .dir_controll .dir_btn{ color:#fff; position: absolute;  font-size:35px; width:35px; bottom:-75px;line-height: 35px;  z-index: 50; }
.main_media .dir_controll .dir_btn.prev{left:650px; }
.main_media .dir_controll .dir_btn.next{left:680px; }
.main_media .dir_controll .dir_btn > a{position: absolute; top:0; left:0; width:100%; height: 100%; text-indent: -5000em; overflow: hidden;} 

.main_review_section{padding:141px 0 150px; position: relative;}
.main_review_section:after{content: ''; position: absolute; bottom:0; left:50px; width: 622px; height:304px; margin-left: -360px;background:url('../images/bg_int_brand.png') no-repeat ;}
.main_review_grid{width:1200px; margin: 0 auto; position: relative; z-index: 5;}
.main_review_grid > h3{font-size:56px; color:#000;letter-spacing: -0.01em; margin-bottom: 63px;}

.review_tab{position: absolute; right:67px; top:20px}
.review_tab > ul{display: flex;}
.review_tab > ul > li{margin-left:37px;}
.review_tab > ul > li > a{display: block; font-size:18px; font-weight: 600; color:#909090; line-height: 25px;}
.review_tab > ul > li > a.on{color:#FF5050; border-bottom:3px solid #FF5050}

.main_review_wrap{position: relative;}
.main_review_wrap .more{position:absolute; top:-105px; right:0; font-size:30px; color: #959595; font-weight: normal; border:1px solid #959595; line-height: 30px; width: 30px; height:30px; box-shadow: border-box;}
.review_item{width:594px; height:344px; border-radius: 4px; box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.1); background: #FFF; opacity: 0.3;}
.review_item.on{opacity: 1;}
.review_item > a{display: block; padding:40px 33px 48px; color:#4E4E4E ;line-height:1.5; display: flex; flex-flow: column; }
.review_item > a > em{display: block; font-size:26px; color:#000; line-height: 1.25; font-weight:700 ; margin-bottom: 27px;}
.review_item .cont{min-height:120px ;}
.review_item .cont > b{color: #FF5050;}
.review_item .user > b{display: block;}
.main_review_wrap .dir_controll .dir_btn{text-align: center; color:#9D9D9D; position: absolute;  font-size:34px; width:60px; top:50%;line-height: 60px; z-index: 100;border-radius: 100%;  background: #FFF; box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25); cursor: pointer; transform: translateY(-50%);}
.main_review_wrap .dir_controll .dir_btn > i.xi-angle-right-min{position: relative; left:2px; top:2px}
.main_review_wrap .dir_controll .dir_btn > i.xi-angle-left-min{position: relative; left:-2px; top:2px}
.main_review_wrap .dir_controll .dir_btn.prev{left:-30px; }
.main_review_wrap .dir_controll .dir_btn.next{right:-30px; }
.main_review_wrap .dir_controll .dir_btn > a{position: absolute; top:0; left:0; width:100%; height: 100%; text-indent: -5000em; overflow: hidden;}
.main_review_wrap .bx-viewport{overflow:visible !important;}


.recom_lec_section{background: #F1F9FC linear-gradient(-180deg, #F1F9FC 80%, #FFF 80%);  padding: 141px 0 0; box-sizing: border-box; }
.recom_lec_section > h3{font-size:56px; color:#000; text-align: center; letter-spacing: -0.01em; margin-bottom: 63px;}
.recom_lec_list{width:1200px; margin: 0 auto; position: relative;}
.recom_lec_item{width:393px; height:386px; position: relative; }
.recom_lec_item > a{display: block; width:377px; height:370px; box-sizing: border-box;border: 1px solid #CBCBCB;background: #FFFFFF; box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.05);}
.recom_lec_item .lec_img{display: block; width:377px; height:213px; border-radius: 0 0 40px 0; overflow: hidden;}
.recom_lec_item .lec_evt{position: absolute; color:#FF5050; left:0; top:223px ; padding:0 24px ; font-weight: 700;}
.recom_lec_item .lec_title{display: block;padding:0 24px; font-size:24px; font-weight: 700; color:#000; margin: 34px 0 5px; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;  line-height: 1.3;}
.recom_lec_item .lec_tnm{display: block;padding:0 24px; }

.recom_lec_list .dir_controll .dir_btn{text-align: center; color:#9D9D9D; position: absolute;  font-size:20px; width:40px; top:50%; transform: translateY(-50%);line-height: 40px; z-index: 100;border-radius: 100%;  background: #FFF; box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25); cursor: pointer;}
.recom_lec_list .dir_controll .dir_btn > i.xi-angle-right-min{position: relative; left:2px; top:2px}
.recom_lec_list .dir_controll .dir_btn > i.xi-angle-left-min{position: relative; left:-2px; top:2px}
.recom_lec_list .dir_controll .dir_btn.prev{left:-20px; }
.recom_lec_list .dir_controll .dir_btn.next{right:-15px; }
.recom_lec_list .dir_controll .dir_btn > a{position: absolute; top:0; left:0; width:100%; height: 100%; text-indent: -5000em; overflow: hidden;}


.pop_lec_section{ box-sizing: border-box; width:1200px; margin: 140px auto 0;}
.pop_lec_section > h3{font-size:53px; color:#000; letter-spacing: -0.01em; margin-bottom: 63px; text-align: center;}
.pop_lec_list{ position: relative;}
.pop_lec_item{width:381px; position: relative; }
.pop_lec_item > a{display: block;}
.pop_lec_item .lec_img{display: block; width:377px; height:213px;  overflow: hidden;}
.pop_lec_item .lec_evt{position: absolute; color:#FF5050; left:0; top:225px ;font-size:14px; font-weight: 700;}
.pop_lec_item .lec_title{display: block; font-size:24px; font-weight: 700; color:#000; margin: 37px 0 5px;display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 1.3;}
.pop_lec_item .lec_tnm{display: block; }

.pop_lec_list .slider_controll{position: absolute; top:-40px; display: flex; font-size:16px; color:#909090; right:53px;}
.pop_lec_list .slider_controll > .dir_btn {position:relative; }
.pop_lec_list .slider_controll > .dir_btn > a{width:100%; height: 100%; display:block; position: absolute; top:0; left:0; overflow: hidden; text-indent: -5000em; font-size:23px}
.pop_lec_list .cnt{margin:0 18px;color:#909090; width:36px}
.pop_lec_list .current{color:#000}
.pop_lec_list .more{position:absolute; top:-47px; right:0; font-size:30px; color: #959595; font-weight: normal; border:1px solid #959595; line-height: 30px; width: 30px; height:30px; box-shadow: border-box;}